<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">

.body{
	color: #f44 !important;

}

.page-header{
	overflow: hidden;
	background-color: #FFCD34;
    height: 43px;
    
}
.logo{
    font-size: 15px;
    text-decoration: none;
    float: left;
}

.main-nav{
	float: left;
	
}
a{
	
}
.btn-order{
	width: 101px;
    height: 28px;
    background-color: #fee083;
    padding: 15px;
	font-size: 15px;
}
main{
	width: 100%;
}
.promo{
	height: 256px;
	background-image: url();
	vertical-align: middle;
	color: white;
	text-align: center;
	background-color: rgba(53, 75, 96, 0.8);
}
.promo-slogan{
	margin: 0 auto;
	font-size: 30px;
	font-weight: bold;
	padding-top: 50px;
	font-style: normal;
}
.promo-title{

     padding: 23px 10px;
	font-size: 13px;

}
.promo-btn{
    border: 3px solid yellow;
    color: white;
    font-weight: bold;
    font-size: 13px;
    padding: 10px;
}

	
}
.consult{
	
    display: inline-block;
    background-color: #202e3b;
    height: 200px;

}
.consult-title{
	color: yellow;
	font-size: 15px;
}
.consult-form{
	
	font-size: 12px;
	

}
input{
	height: 18px;
	width: 123px;
	margin: 13px;
	padding: 5px;
}
.consult-btn{
	
	
	color: #202e3b;
	background-color: #fecd33;
	height: 32px;
	width: 145px;
	
}
	
.features{
	
	background-color: white;
    height: 77px;
    color: black;
    
}
.features-item{
	display: inline-block;
	height: 29px;
	width: 109px;
	font-size: 10px;
	padding: 30px;
}
.technic{
	
	margin: 23px;
	height: 225px;
	background-color: #f3f3f3;
}
.technik-menu{
	display: block;
	
    
}
.subtitle{
	font-size: 20px;
	color: black;
	text-align: center;

}
.deals{
	
	
	background-color: ;
}
.deals-table{
    color: black;
    font-size: 10px;

}

.about{
	overflow: hidden;
	
	background-color: black;

}
.subtitle-about{
	font-size: 20px;
	font-weight: bold;
    text-align: center;
    
}
.about-number{
	float: left;
	
	display: block;
	
}
.about-digit{

}
.about-rewievs{
	float: right;
	
	text-align: center;
	color: white;
	font-size: 10px;
	font-style: italic;
}
.map{
	height: 500px;
	width: 100%;
	frameborder: 0px;
	border: 0px;
}
.page-footer{
	height: 44px;
	background-color: black;
    font-size: 10px;
    padding: 10px;
    margin: 5px;
    
}
.logo{
    float: left;

	font-size: 18px;
	color: yellow;
	font-weight: bold;
	
}
.logo-img{
color: white;

}
.main-nav{
	float: right;
	
}